.background    { background-image: url("http://www.clipartkid.com/images/166/alayx-wallpaper-blue-sky-background-9L21cI-clipart.jpg"); 
                 table-layout: fixed;
				 border-spacing: 0; }
.background td { padding: 0;        }
.lava          { background-image: url("http://i297.photobucket.com/albums/mm222/komaokc/th_animatedlava2.gif"); }
.wall          { background-image: url("http://cgright.com/texture/126_preview.jpg"); }
.floater       { background: rgb(50, 0, 5); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
